/* pre, tt, code { */
/*   font-size: 1rem !important; */
/* } */
div.highlight-none pre {
    color: var(--color-foreground-muted);
}
h1, h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.highlight .m {
    color: inherit;
    font-weight: inherit;
}
hr.docutils {
    margin: 1.5rem 0 !important;
}
/* drop toc drawer in singlehtml mode */
/* .toc-drawer { */
/*     display: none; */
/* } */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
